{% extends 'base.html' %}
{% block title %}Cinepedia{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Director</th>
            <th>Fecha de Estreno</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pelicula in peliculas %}
        <tr>
            <td>{{ pelicula.nombre }}</td>
            <td>{{ pelicula.director }}</td>
            <td>{{ pelicula.fecha_estreno }}</td>
            <td>
                 {% if pelicula.publicado_por == request.user %}
                    <a href="{% url 'pelicula-editar' pelicula.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'pelicula-borrar' pelicula.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                 {% endif %}
                 <a href="{% url 'pelicula-detalle' pelicula.pk %}" class="btn btn-info btn-sm">Ver</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">¡No hay películas registradas! Crear una nueva película para verla en este espacio</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}